{% extends 'base.html' %} 
{% block content %}
  
 

 <section class="dark:bg-gray-800">
  <div class="container-fluid py-8"> 

    <div class="row justify-content-center">

        <div class="bg-white dark:bg-gray-600 rounded-lg shadow-lg overflow-hidden">
          <div class="px-6 py-4 bg-white">
            <h5 class="text-gray-700 font-bold text-xl">SoniTrad(Traduction français-soninke)</h5>
            
          </div>
          <div id="phrase_francaise" class="py-8 px-8 text-gray-700 dark:text-gray-400 leading-tight"><h1> {{ phrase_francaise }}</h1></div>
         
          {% if traduction_soninke %}
          <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
            <label for="traduction_soninke" class="block text-gray-700 dark:text-gray-300 text-sm font-bold mb-2"></label>
            <div id="traduction_soninke" class="border rounded py-8 px-8 text-gray-700 dark:text-white leading-tight"><h1>{{ traduction_soninke }}</h1></div>
          </div>
          {% else %}
          <div class="card-body" style="height: 400px;">
            <div style="height: 100%; opacity: 0;"></div>
          </div>
          {% endif %}
          <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
            <form method="post" class="input-group mb-0">
              {% csrf_token %}
              <select id="suggestions_francais" class="mt-2 bg-gray-800"></select>
              <input type="text" name="phrase_francaise" id="phrase_francaise" class="appearance-none border rounded py-2 px-3 text-gray-700 font-bold text-lg dark:text-gray-800 leading-tight focus:outline-none focus:shadow-outline w-full">
              <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 rounded focus:outline-none focus:shadow-outline w-full mt-4">Traduire</button>
            </form>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>





      
 {% endblock %}